html{
    direction: rtl;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 7%;
    /* height: 100vh; */
}
h1{
    display: block;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
button{
    width: 350px;
    height: 50px;
    margin: 10px;
}