<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School</title>
    <link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <div class="title">
        <h1>نظام المدرسة</h1>
    </div>
    
    <main>
        <a href="/students">
            <button>

                عرض الطلبة
            </button>
        </a>
        

        <a href="/add-student">
            <button>
                تسجيل طالب جديد
            </button>
        </a>
        

    </main>
</body>
</html>